.sunsetDetails {
    display: flex;
    justify-content: space-between;
}

.itemList {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.icon {
    inline-size: 24px;
    block-size: 24px;
  }