 .itemList {
    display: flex;
    align-items: center;
    flex-direction: column;

    .descriptionText {
      @include text-s-regular;
      padding-top: 4px;
    }

    .valueText {
      @include text-m-bold;
    }
  }
  
  .icon {
    inline-size: 24px;
    block-size: 24px;
  }