.heading {
  font-family: var(--base-font);
}

.weight-normal {
  font-weight: 400;
}

.weight-medium {
  font-weight: 500;
}

.weight-semiBold {
  font-weight: 600;
}

.weight-bold {
  font-weight: 700;
}

.heading-01 {
  font-size: 24px;
  line-height: 1.2;
}

.heading-02 {
  font-size: 22px;
}

.heading-03 {
  font-size: 20px;
}

.heading-04 {
  font-size: 18px;
}

.heading-05 {
  font-size: 16px;
}

.heading-06 {
  font-size: 14px;
}
